@import url(./variables.css);

.app-btn {
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.app-btn--primary {
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--light-grey-1);
}

.app-btn--primary-1 {
  font-size: 1.6rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-btn--secondary {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  background-color: var(--white);
  color: inherit;
}

.mb10 {
  margin-bottom: 1rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mr10 {
  margin-right: 1rem;
}

.mr20 {
  margin-right: 2rem;
}

.bubble {
  position: relative;
  background: #fff;
}

.bubble:before {
  /* content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #fff transparent;
  border-width: 19px 19px 0;
  bottom: -19px;
  left: 11%;
  margin-left: -19px; */
}
