@import url(./variables.css);

.app-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.app-btn--primary {
  background-color: var(--primary-color);
  color: var(--light-grey-1);
}

.app-btn--primary-1 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.app-btn--secondary {
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 2rem;
}
