@import url(./variables.css);

.app-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.app-btn--primary {
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--light-grey-1);
}

.app-btn--primary-1 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-btn--secondary {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  background-color: var(--white);
}

.mb10 {
  margin-bottom: 1rem;
}

.mb20 {
  margin-bottom: 2rem;
}
