:root {
  --primary-color: #d50000;
  --secondary-color: #ff1744;
  --white: #fff;
  --light-grey: #e0e0e0;
  --dark-grey: #616161;
}

.page {
}

.page__left {
}

.page__right {
}

.nav {
}

.header {
}

.main {
}

.main__left {
}

.main__right {
}

.footer {
}
