@import url(./variables.css);
@import url(./components.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.page {
  display: flex;
  height: 100vh;
}

.page__left {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
  width: 20%;
  background-color: var(--white);
  height: 100vh;
}

.page__right {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: red;
  height: 100vh;
}

.nav {
  width: 100%;
}

.nav__link-list {
  list-style: none;
}

.nav__link-list-item {
  width: 100%;
  color: var(--dark-grey);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 2rem;
}

.nav__link-list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.nav__link {
}

.nav__link-sub {
  padding: 1rem 0;
  margin-top: 0.5rem;
  background-color: var(--light-grey-2);
}

.nav__link-sub-item {
  display: block;
}

.header {
  height: 50px;
  background-color: aqua;
}

.main {
  background-color: indigo;
}

.main__left {
}

.main__right {
}

.footer {
}
