:root {
  --primary-color: #f44336;
  --secondary-color: #ec407a;
  --white: #ffffff;
  --light-grey-1: #f3eded;
  --light-grey-2: #eeeeee;
  --light-grey-3: #bdbdbd;
  /* --light-grey-3: #E0E0E0; */
  --dark-grey: #757575;
}
